@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

#sticky-icon-bars {
  top: 35%;
  left: 0;
  width: 180px;

  .icon-bar {
    font-size: 22px;
    margin: 2px 0;
    border-radius: 0px 50px 50px 0px;
    transform: translate(-120px, 0px);
    transition: 0.5s;

    .bar-title {
      text-decoration: none;
    }

    #icon-img {
      margin-left: 20px;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      transition: 1s;
      line-height: 40px;

      img {
        height: 30px;
      }
    }
  }
}

#sticky-icon-bars .icon-bar:hover {
  transform: translate(0px, 0px);
  transition: 0.5s;

  #icon-img {
    transform: rotate(360deg);
    transition: 1s;
  }
}

@media (max-width:1450px) {
  #sticky-icon-bars {
    top: 35%;
    left: 0px;
    width: 50px;

    .icon-bar {
      margin: 2px 0;
      border-radius: 0px 50px 50px 0px;
      transform: translate(0px, 0px);

      .bar-title {
        display: none;
      }

      #icon-img {
        width: 35px;
        height: 35px;
        margin: 0;
        line-height: 35px;

        img {
          height: 25px;
        }
      }
    }
  }

  #sticky-icon-bars .icon-bar:hover {

    #icon-img {
      transform: rotate(360deg);
      transition: 1s;
    }
  }
}