@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600&display=swap');

#pnf-container {
  top: 0;
  left: 0;
}

#pnf-title {
  position: absolute;
  width: 100%;
  margin-top: 18%;
  justify-content: center;
  font-family: 'Orbitron', sans-serif;
}

#long-cat {
  position: absolute;
  width: 100%;
  margin-top: 25%;
}

@media(max-width:992px) {
  #rainbow {
    display: none;
  }
}

@media(max-width:720px) {
  #pnf-title {
    margin-top: 65%;
    transition: 0.5s;

    h3 {
      font-size: 1.5rem;
      transition: 0.5s;
    }
  }

  #long-cat {
    margin-top: 90%;
    transition: 0.5s;

    #nyancat {
      width: 400px;
      transition: 0.5s;
    }
  }

}