.showcase-container {
  margin: 20px 0;
  width: 100%;
}

.showcase-wrapper {
  margin-top: 30px;
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-template-rows: auto; */
  grid-gap: 0 40px;
}

.showcase-h1 {
  text-align: center;
  color: #0f4c81;
  margin-bottom: 40px;
}



.showcase-wrapper .showcase-box {
  position: relative;
  height: 400px;
  /* background: #060c21; */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
}

.showcase-wrapper .showcase-box:before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  transform: skew(2deg, 2deg);
  z-index: -1;
}

.showcase-wrapper .showcase-box:nth-child(1):before {
  background: linear-gradient(315deg, #0f4c81, #e64a19);
}

.showcase-wrapper .showcase-box:nth-child(2):before {
  background: linear-gradient(315deg, #0f4c81, #00bcd4);
}

.showcase-wrapper .showcase-box:nth-child(3):before {
  background: linear-gradient(315deg, #0f4c81, #5d02ff);
}

.showcase-wrapper .showcase-box:nth-child(4):before {
  background: linear-gradient(315deg, #0f4c81, #ffc107);
}

.showcase-wrapper .showcase-box::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, .05);
  pointer-events: none;
}

.showcase-content {
  position: relative;
  padding: 20px;
  transform: translateY(40px);
}

.showcase-box .showcase-content .showcase-h2 {
  position: absolute;
  top: -60px;
  right: 20px;
  margin: 0;
  padding: 0;
  font-size: 10em;
  color: rgba(255, 255, 255, .05);
}

.showcase-box:hover .showcase-content .showcase-h2 {
  top: -140px;
}

.showcase-box .showcase-content .showcase-h3 {
  margin: 0 0 10px;
  padding: 0;
  font-size: 24px;
  color: #fff;
}

.showcase-box .showcase-content .showcase-p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #fff;
}

.showcase-box .showcase-content .showcase-a {
  position: relative;
  margin: 20px 0 0;
  padding: 10px 20px;
  text-decoration: none;
  border: 1px solid #fff;
  display: inline-block;
  color: #fff;
  transition: 0.5s;
  transform: translateY(-40px);
  opacity: 0;
  visibility: hidden;
}

.showcase-box:hover .showcase-content .showcase-a {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.showcase-box .showcase-content .showcase-a:hover {
  color: #000;
  background-color: #fff;
}