@import '../../../custom.scss';

// TITLE UNDERLINE

.h1-skills:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 50%;
  width: 80px;
  height: 4px;
  border-radius: 2px 0 0 2px;
  background-color: $secondary;
  transition: .5s;
}

.h1-skills::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 80px;
  height: 4px;
  border-radius: 0 2px 2px 0;
  background-color: $secondary;
  transition: .5s;
}


// SKILL BOX & SHADOW

.skills-img-box {
  width: 90px;
  height: 90px;
  position: relative;
  border-radius: 45px;
  transition: .5s;
}

.skills-img-box:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background: #fdf5ab;
  border-radius: 45px 45px 5px 45px;
}

.skills-img {
  width: 70px;
  z-index: 2;
}


// SKILL TITLE UNDERLINE

h5::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 4px;
  border-radius: 0 2px 2px 0;
  background-color: $primary;
  transition: .5s;
}

h5:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 50%;
  width: 0;
  height: 4px;
  border-radius: 2px 0 0 2px;
  background-color: $primary;
  transition: .5s;
}

// SKILL BOX HOVER EFFECTS

.skills-box:hover>h5:after,
.skills-box:hover>h5:before {
  width: 35px;
}

.skills-box:hover .skills-img-box {
  transform: translateY(-10px);
}