@import '../../../custom.scss';

// TITLE UNDERLINE

#timeline-heading:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 50%;
  width: 115px;
  height: 4px;
  border-radius: 2px 0 0 2px;
  background-color: $secondary;
  transition: .5s;
}

#timeline-heading::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 115px;
  height: 4px;
  border-radius: 0 2px 2px 0;
  background-color: $secondary;
  transition: .5s;
}

// ----

#timeline-wrapper::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  width: 2px;
  height: 100%;
  background-color: #c5c5c5;
}

#timeline-li {
  position: relative;
  width: 50%;
  padding: 20px 40px;

  #timeline-subtitle {
    font-weight: 600;
  }
}

#timeline-datetime {
  font-size: 14px;
}


.clear {
  clear: both;
}

#timeline-li:nth-child(odd) {
  float: left;
  text-align: right;
  clear: both;

  #timeline-capsule {
    top: 12px;
    right: -165px;
    padding: 8px 16px;
    border-radius: 18px;
    box-shadow: 0 0 0 3px $secondary;
  }
}

#timeline-li:nth-child(even) {
  float: right;
  text-align: left;
  clear: both;

  #timeline-capsule {
    top: 12px;
    left: -165px;
    padding: 8px 16px;
    border-radius: 18px;
    box-shadow: 0 0 0 3px $secondary;
  }
}

#timeline-li:nth-child(odd)::before {
  content: '';
  position: absolute;
  right: -6px;
  width: 10px;
  height: 10px;
  background: $primary;
  border-radius: 50%;
  box-shadow: 0 0 0 3px $secondary;
}

#timeline-li:nth-child(even)::before {
  content: '';
  position: absolute;
  left: -4px;
  width: 10px;
  height: 10px;
  background: $primary;
  border-radius: 50%;
  box-shadow: 0 0 0 3px $secondary;
}



@media (max-width: 767px) {
  #timeline-wrapper:before {
    left: 20px;
  }

  #timeline-wrapper {
    padding-top: 40px;

    #timeline-ul {

      #timeline-li:nth-child(odd),
      #timeline-li:nth-child(even) {
        width: 100%;
        text-align: left;
        padding-left: 50px;
        padding-bottom: 50px;

        #timeline-capsule {
          top: -30px;
          left: 50px;
          right: inherit;
        }
      }

      #timeline-li:nth-child(odd)::before,
      #timeline-li:nth-child(even)::before {
        top: -18px;
        left: 16px;
      }
    }
  }
}