@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,600,800&display=swap");

.home-container {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  // background-image: url("../../images/mountains_forest_clouds_155467_2560x1440.jpg");
  background-image: url("../../images/snow-coated-rocky-mountains-772803.jpg");
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  animation-name: backgroundEffect;
  animation-duration: 30s;
  animation-iteration-count: infinite;

  .home-wrapper {
    max-width: 1110px;
    height: 100%;
    padding: 20rem 0;
    display: block;
    align-items: center;
    justify-content: center;
    margin: auto;

    .home-h1 {
      font-size: 4.5rem;
      color: #eee;
    }

    .home-h3 {
      font-size: 3rem;
      color: #eee;
    }

    .home-initials {
      color: #0f4c81;
    }
  }
}

// Medium devices (tablets)
@media(max-width: 992px) {
  .home-container {
    .home-wrapper {
      .home-h1 {
        font-size: 3.5rem;
      }

      .home-h3 {
        font-size: 2rem;
      }
    }
  }
}

// Small devices (landscape phones)
@media(max-width: 768px) {
  .home-container {
    .home-wrapper {
      .home-h1 {
        font-size: 3rem;
      }

      .home-h3 {
        font-size: 1.5rem;
      }
    }
  }
}

// Extra small devices (phones)
@media(max-width: 576px) {
  .home-container {
    .home-wrapper {
      .home-h1 {
        font-size: 2.5rem;
      }

      .home-h3 {
        font-size: 1rem;
      }
    }
  }
}


@keyframes backgroundEffect {
  0% {
    background-position: 0% 0%;
  }

  25% {
    background-position: 30% 15%;
  }

  50% {
    background-position: 0 15%;
  }

  75% {
    background-position: 15% 30%;
  }

  100% {
    background-position: 0% 0%;
  }
}