// @import url("https://fonts.googleapis.com/css?family=Poppins:300,400,600,800&display=swap");
@import './styles/config';

html,
.App {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $font-stack;
}

.container {
  // display: flex;
  // // flex-direction: column;
  // justify-content: center;
  // max-width: 1280px;
}